<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>nightmare kakashkera</title>
    <script src="/static/index.js"></script>
    <script>

          function openApplication(evt, application) {
          // Declare all variables
          var i, tabcontent, tablinks;

          // Get all elements with class="tabcontent" and hide them
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }

          // Get all elements with class="tablinks" and remove the class "active"
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
          }

          // Show the current tab, and add an "active" class to the button that opened the tab
          document.getElementById(application).style.display = "block";
          evt.currentTarget.className += " active";
        }

        function confirmUploading(evt, hider) {
            evt.currentTarget.style.display = "none";
            document.getElementById(hider).style.display = "block";
        }



    </script>
    <link rel="stylesheet" href="/static/index.css">
    <style>

        input[type=button], input[type=submit], input[type=file] {
          background-color: #4CAF50;
          border: none;
          color: white;
          padding: 16px 32px;
          text-decoration: none;
          margin: 4px 2px;
          cursor: pointer;
        }

        .tab .done {
          background-color: #cfc;
        }

    </style>
</head>
<body>

<div class="tab">
    {% for i, tab in tabs %}
    <button class="tablinks{{ ' done' if tab }}" onclick="openApplication(event, 'App{{ i }}')">Приложение {{ i }}
    </button>
    {% endfor %}
</div>

{% for i, tab in tabs %}
<div id="App{{ i }}" class="tabcontent">
    <h3>Приложение №{{ i }}</h3>
    {% if tab %}
    <input type="button" onclick="confirmUploading(event, 'Hider{{ i }}')"
           value="Данный документ уже загружен. Желаете загрузить свой?">
    <div id="Hider{{ i }}" style="display: none">
        {% endif %}
        <p>Пожалуйста, загрузите приложение №{{ i }}</p>
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="application{{ i }}"/>
            <input type="submit"/>
        </form>
        {% if tab %}
    </div>
    <iframe src="/table/{{ i }}"
            width="100%" height="600px" scrolling="auto"></iframe>
    {% endif %}
</div>
{% endfor %}
</body>
</html>