<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
    <style>

        table {
          border-collapse: collapse;
        }

        tr:nth-child(even) {
            background-color: #b3d1ff;
        }

        tr:nth-child(odd) {
          background-color: #99c2ff;
        }

        table, th, td {
          border: 1px solid black;
        }

    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                {% for index in alp %}
                <td scope="col">{{ index }}</td>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                {% for cell in row %}
                <td>{{ cell.value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>