.addictionBlock {
    flex: 1 0 auto;
    background: #DCF4F5;
    border: 1px solid #000000;
    padding: 40px
}

.fileInput {
    display: none
}

.inputLabel {
    font-size: 20px;
    background: #00A8C6;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    transition: background-color 0.2s;
}

.inputLabel:hover {
    cursor: pointer;
    background: #3398c6;
}
